<div class="margin_collapsetop"></div>
<footer id="ttr_footer">
    <div class="margin_collapsetop"></div>
    <div id="ttr_footer_inner">
        <div class="ttr_footer_bottom_footer">
            <div class="ttr_footer_bottom_footer_inner">
                <div class="ttr_footer_element_alignment container">
                    <div id="ttr_footer_designed_by_links">
                        <a href="@Url.Action("Index", "FrontEnd")" target="_self">
                            Website
                        </a>
                        <span id="ttr_footer_designed_by">
                            Tennis Club
                        </span>
                    </div>
                </div>
                <div id="ttr_copyright">
                    <span>
                        Copyright@Tennisclub.com
                    </span>
                </div>
                <a href="" class="ttr_footer_facebook " target="_self">
                </a>
                <a href="" class="ttr_footer_twitter " target="_self">
                </a>
                <a href="" class="ttr_footer_instagram "
                   target="_self">
                </a>
            </div>
        </div>
    </div>
</footer>
<div class="margin_collapsebottom"></div>
