<div class="totopshow">
	<a href="#" class="back-to-top"><img alt="Back to Top" src="~/Assets/images/gototop0.png" /></a>
</div><!-- totopshow -->
<div class="margin_collapsetop"></div>
<div id="ttr_menu">
	<div class="margin_collapsetop"></div>
	<nav class="navbar-default navbar-expand-md navbar">
		<div id="ttr_menu_inner_in">
			<div id="navigationmenu">
				<div class="navbar-header">
					<button id="nav-expander" data-target=".navbar-collapse" data-toggle="collapse"
							class="navbar-toggle" type="button">
						<span class="ttr_menu_toggle_button">
							<span class="sr-only">
							</span>
							<span class="icon-bar navbar-toggler-icon">
							</span>
							<span class="icon-bar navbar-toggler-icon">
							</span>
							<span class="icon-bar navbar-toggler-icon">
							</span>
						</span>
						<span class="ttr_menu_button_text">
							Menu
						</span>
					</button>
				</div>
				<div class="ttr_images_container">
					<div class="ttr_menu_logo">
						<a href="@Url.Action("Index", "FrontEnd")" target="_self">
							<img src="~/Assets/images/menulogo.png" alt="menuimage" class="" />
						</a>
					</div>
				</div>
				<div class="menu-center collapse navbar-collapse">
					<ul class="ttr_menu_items nav navbar-nav navbar-right">
						<li class="ttr_menu_items_parent dropdown active">
							<a href="@Url.Action("Index", "FrontEnd")"
							   class="ttr_menu_items_parent_link_active">
								<span class="menuchildicon"></span>Home
							</a>
							<hr class="horiz_separator" />
						</li> <!-- main menu list closing -->
						<li class="ttr_menu_items_parent dropdown">
							<a href="@Url.Action("About", "FrontEnd")"
							   class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Our Club</a>
							<hr class="horiz_separator" />
						</li> <!-- main menu list closing -->
						<li class="ttr_menu_items_parent dropdown">
							<a href="membership.html"
							   class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Membership</a>
							<hr class="horiz_separator" />
						</li> <!-- main menu list closing -->
						<li class="ttr_menu_items_parent dropdown">
							<a href="contact.html"
							   class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Contact</a>
						</li> <!-- main menu list closing -->
					</ul>
				</div>
			</div>
		</div>
	</nav>
</div>