<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="~/Scripts/FrontEnd/jquery.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/jquery-ui.min.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/customjs.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/contactform.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        Tennis Club || About Us
    </title>

    <link rel="stylesheet" href="~/Content/FrontEnd/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/FrontEnd/style.css" type="text/css" media="screen" />

    <!--[if lte IE 8]>
    <link rel="stylesheet"  href="menuie.css" type="text/css" media="screen"/>
    <link rel="stylesheet"  href="vmenuie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script type="text/javascript" src="~/Scripts/FrontEnd/totop.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/tt_animation.js"></script>
    <!--[if IE 7]>
    <style type="text/css" media="screen">
    #ttr_vmenu_items  li.ttr_vmenu_items_parent {margin-left:-16px;font-size:0px;}
    </style>
    <![endif]-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/Scripts/FrontEnd/html5shiv.js">
    </script>
    <script type="text/javascript" src="~/Scripts/FrontEnd/respond.min.js">
    </script>
    <![endif]-->
</head>


<body class="our-club">
    @Html.Partial("~/Views/Shared/FrontComponent/_Header.cshtml")


    <div class="margin_collapsetop"></div>
    <div id="ttr_page" class="container">
        <div id="ttr_content_and_sidebar_container">
            <div id="ttr_content">
                <div id="ttr_html_content_margin" class="container-fluid">
                    <div class="margin_collapsetop"></div>
                    <div class="ttr_our-club_html_row0 row">
                        <div class="post_column col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column00">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="text-align:Center;">
                                        <span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:2.571em;color:rgba(255,255,255,1);background-color:transparent;">
                                            Our
                                            Club
                                        </span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                    </div>
                    <div class="ttr_our-club_html_row1 row">
                        <div class="post_column col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column10">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="margin:5px 0px 20px 0px;">
                                        <span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:2.571em;color:rgba(17,38,0,1);background-color:transparent;">
                                            Best
                                            Club with Best Courts and Facilities
                                        </span>
                                    </p>
                                    <p style="margin:2px 0px 10px 0px;">
                                        <span style="font-size:1.571em;color:rgba(85,212,0,1);">
                                            Lorem ipsum amet tempor
                                            integer pede.
                                        </span>
                                    </p>
                                    <p style="margin:2px 0px 0px 0px;line-height:1.71em;">
                                        <span style="color:rgba(78,78,78,1);">
                                            Auctor et diam elit tortor malesuada.
                                            Aliquam dolor vel. Sit donec erat. Sem egestas vitae gravida tincidunt diam
                                            integer. Pede integer molestie hendrerit vestibulum magna fusce elementum
                                            imperdiet mauris felis.
                                        </span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                        <div class="post_column col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column11">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content"><br /></div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                    </div>
                    <div class="ttr_our-club_html_row2 row">
                        <div class="post_column col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column20">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="text-align:Center;">
                                        <span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:2.571em;color:rgba(17,38,0,1);background-color:transparent;">
                                            Tennis
                                            Club Coaches
                                        </span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                        <div class="post_column col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column21">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="text-align:Center;">
                                        <span class="ttr_image"
                                              style="float:none;display:block;overflow:hidden;margin:0px 0px 20px 0px;">
                                            <span>
                                                <img class="ttr_uniform" style="max-height:200px;max-width:200px;"
                                                     src="images/46.jpeg" />
                                            </span>
                                        </span><span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:1.571em;color:rgba(17,38,0,1);background-color:transparent;">
                                            Leon
                                            B.Sherman
                                        </span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                        <div class="post_column col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column22">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="text-align:Center;">
                                        <span class="ttr_image"
                                              style="float:none;display:block;overflow:hidden;margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;">
                                            <span>
                                                <img class="ttr_uniform" style="max-height:200px;max-width:200px;"
                                                     src="images/47.jpeg" />
                                            </span>
                                        </span><span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:1.571em;color:rgba(17,38,0,1);background-color:transparent;">
                                            Sandra
                                            Joseph
                                        </span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                        <div class="post_column col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column23">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="text-align:Center;">
                                        <span class="ttr_image"
                                              style="float:none;display:block;overflow:hidden;margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;">
                                            <span>
                                                <img class="ttr_uniform" style="max-height:200px;max-width:200px;"
                                                     src="images/48.jpeg" />
                                            </span>
                                        </span><span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:1.571em;color:rgba(17,38,0,1);background-color:transparent;">
                                            James
                                            Erickson
                                        </span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                        <div class="post_column col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column24">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="text-align:Center;">
                                        <span class="ttr_image"
                                              style="float:none;display:block;overflow:hidden;margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;">
                                            <span>
                                                <img class="ttr_uniform" style="max-height:200px;max-width:200px;"
                                                     src="images/49.jpeg" />
                                            </span>
                                        </span><span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:1.571em;color:rgba(17,38,0,1);background-color:transparent;">
                                            Linda
                                            Sauter
                                        </span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                        <div class="post_column col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column25">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="text-align:Center;">
                                        <span class="ttr_image"
                                              style="float:none;display:block;overflow:hidden;margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;">
                                            <span>
                                                <img class="ttr_uniform" style="max-height:200px;max-width:200px;"
                                                     src="images/50.jpeg" />
                                            </span>
                                        </span><span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:1.571em;color:rgba(17,38,0,1);background-color:transparent;">Rosemary</span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                        <div class="post_column col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column26">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="text-align:Center;">
                                        <span class="ttr_image"
                                              style="float:none;display:block;overflow:hidden;margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;">
                                            <span>
                                                <img class="ttr_uniform" style="max-height:200px;max-width:200px;"
                                                     src="images/51.jpeg" />
                                            </span>
                                        </span><span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:1.571em;color:rgba(17,38,0,1);background-color:transparent;">
                                            Shirly
                                            Leung
                                        </span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                    </div>
                    <div class="ttr_our-club_html_row3 row">
                        <div class="post_column col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column30">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="text-align:Center;">
                                        <span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:2.571em;color:rgba(17,38,0,1);background-color:transparent;">Facilities</span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                        <div class="post_column col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column31">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="margin:5px 0px 10px 0px;">
                                        <span class="ttr_image"
                                              style="float:none;display:block;overflow:hidden;margin:0px 0px 20px 0px;">
                                            <span>
                                                <img class="ttr_uniform" style="max-height:267px;max-width:400px;"
                                                     src="images/52.jpeg" />
                                            </span>
                                        </span><span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:1.714em;color:rgba(17,38,0,1);background-color:transparent;">
                                            Fitness
                                            Center
                                        </span>
                                    </p>
                                    <p style="margin:2px 0px 0px 0px;line-height:1.71em;">
                                        <span style="color:rgba(78,78,78,1);">
                                            Turpis diam vestibulum mollis quis facilisis
                                            donec. ullamcorper fusce vestibulum.
                                        </span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                        <div class="post_column col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column32">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="margin:5px 0px 10px 0px;">
                                        <span class="ttr_image"
                                              style="float:none;display:block;overflow:hidden;margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;">
                                            <span>
                                                <img class="ttr_uniform" style="max-height:267px;max-width:400px;"
                                                     src="images/53.jpeg" />
                                            </span>
                                        </span><span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:1.714em;color:rgba(17,38,0,1);background-color:transparent;">
                                            Tennis
                                            Courts
                                        </span>
                                    </p>
                                    <p style="margin:2px 0px 0px 0px;line-height:1.71em;">
                                        <span style="color:rgba(78,78,78,1);">
                                            Turpis diam vestibulum mollis quis facilisis
                                            donec. ullamcorper fusce vestibulum.
                                        </span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                        <div class="post_column col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column33">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="margin:5px 0px 10px 0px;">
                                        <span class="ttr_image"
                                              style="float:none;display:block;overflow:hidden;margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;">
                                            <span>
                                                <img class="ttr_uniform" style="max-height:267px;max-width:400px;"
                                                     src="images/54.jpeg" />
                                            </span>
                                        </span><span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:1.714em;color:rgba(17,38,0,1);background-color:transparent;">
                                            Tennis
                                            Coaching
                                        </span>
                                    </p>
                                    <p style="margin:2px 0px 0px 0px;line-height:1.71em;">
                                        <span style="color:rgba(78,78,78,1);">
                                            Turpis diam vestibulum mollis quis facilisis
                                            donec. ullamcorper fusce vestibulum.
                                        </span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                        <div class="post_column col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_our-club_html_column34">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="margin:5px 0px 10px 0px;">
                                        <span class="ttr_image"
                                              style="float:none;display:block;overflow:hidden;margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;">
                                            <span>
                                                <img class="ttr_uniform" style="max-height:267px;max-width:400px;"
                                                     src="images/55.jpeg" />
                                            </span>
                                        </span><span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:1.714em;color:rgba(17,38,0,1);background-color:transparent;">
                                            Tennis
                                            Clubhouse
                                        </span>
                                    </p>
                                    <p style="margin:2px 0px 0px 0px;line-height:1.71em;">
                                        <span style="color:rgba(78,78,78,1);">
                                            Turpis diam vestibulum mollis quis facilisis
                                            donec. ullamcorper fusce vestibulum.
                                        </span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                    </div>
                    <div class="margin_collapsetop"></div>
                </div><!--content_margin-->
            </div><!--content-->
            <div style="clear:both">
            </div>
        </div><!--container-->
    </div><!--page-->


    @Html.Partial("~/Views/Shared/FrontComponent/_Footer.cshtml")
</body>

</html>