<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="~/Scripts/FrontEnd/jquery.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/jquery-ui.min.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/customjs.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/contactform.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        Tennis Club || Contact Us
    </title>

    <link rel="stylesheet" href="~/Content/FrontEnd/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/FrontEnd/style.css" type="text/css" media="screen" />

    <!--[if lte IE 8]>
    <link rel="stylesheet"  href="menuie.css" type="text/css" media="screen"/>
    <link rel="stylesheet"  href="vmenuie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script type="text/javascript" src="~/Scripts/FrontEnd/totop.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/tt_animation.js"></script>
    <!--[if IE 7]>
    <style type="text/css" media="screen">
    #ttr_vmenu_items  li.ttr_vmenu_items_parent {margin-left:-16px;font-size:0px;}
    </style>
    <![endif]-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/Scripts/FrontEnd/html5shiv.js">
    </script>
    <script type="text/javascript" src="~/Scripts/FrontEnd/respond.min.js">
    </script>
    <![endif]-->
</head>


<body class="contact">
    @Html.Partial("~/Views/Shared/FrontComponent/_Header.cshtml")

    <div class="margin_collapsetop"></div>
    <div id="ttr_page" class="container">
        <div id="ttr_content_and_sidebar_container">
            <div id="ttr_content">
                <div id="ttr_html_content_margin" class="container-fluid">
                    <div class="margin_collapsetop"></div>
                    <div class="ttr_contact_html_row0 row">
                        <div class="post_column col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_contact_html_column00">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="text-align:Center;">
                                        <span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:2.571em;color:rgba(255,255,255,1);background-color:transparent;">Contact</span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                    </div>
                    <div class="ttr_contact_html_row1 row">
                        <div class="post_column col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_contact_html_column10">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="margin:5px 0px 20px 0px;">
                                        <span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:2.571em;color:rgba(17,38,0,1);background-color:transparent;">
                                            Get
                                            in Touch With us for More Information
                                        </span>
                                    </p>
                                    <p style="margin:2px 0px 10px 0px;">
                                        <span style="font-size:1.571em;color:rgba(85,212,0,1);">
                                            Praesent vivamus erat nec
                                            magna facilisis
                                        </span>
                                    </p>
                                    <p style="margin:2px 0px 20px 0px;line-height:1.71em;">
                                        <span style="color:rgba(78,78,78,1);">
                                            Reiciendis aliquam pellentesque. Ornare
                                            ultricies velit. Purus diam hendrerit. Et pellentesque vehicula. Dictum
                                            convallis quis dui sit ut orci eu posuere sed maecenas dictum. Inceptos
                                            libero amet.
                                        </span>
                                    </p>
                                    <p style="margin:2px 0px 0px 0px;line-height:1.71em;">
                                        <span style="font-weight:700;font-size:1.143em;color:rgba(85,212,0,1);">
                                            Address :
                                        </span>
                                    </p>
                                    <p style="margin:2px 0px 0px 0px;line-height:1.71em;">
                                        <span style="font-weight:700;color:rgba(78,78,78,1);">joar sahara, kuril</span>
                                    </p>
                                    <p style="margin:2px 0px 0px 0px;line-height:1.71em;">
                                        <span style="font-weight:700;color:rgba(78,78,78,1);">Dhaka, Bangladesh</span>
                                    </p>
                                    <p style="margin:2px 0px 0px 0px;line-height:1.71em;">
                                        <span style="font-weight:700;font-size:1.143em;color:rgba(78,78,78,1);">+8801770848793</span>
                                    </p>
                                    <p style="margin:2px 0px 0px 0px;line-height:1.71em;">
                                        <span style="font-weight:700;color:rgba(78,78,78,1);">msrnayeem@gmail.com</span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                        <div class="post_column col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="ttr_contact_html_column11">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="margin:5px 0px 20px 0px;text-align:Center;">
                                        <span style="font-family:'Expletus Sans','Arial';font-weight:700;font-size:2.571em;color:rgba(17,38,0,1);background-color:transparent;">
                                            Contact
                                            Form
                                        </span>
                                    </p>
                                    <p style="text-align:Center;">
                                        <div class="contactformdiv" style="margin:0px 0px 0px 0px;">
                                            <form id="ContactForm2" class="form-horizontal" role="form" method="post"
                                                  action="#" style="margin: 0 auto;">
                                                <div class="form-group row">
                                                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 control-label">Name</label>
                                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 col-12">
                                                        <input type="text" class="form-control" data-vali="novalidation"
                                                               name="name" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 control-label required">Email</label>
                                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 col-12">
                                                        <input type="text" class="form-control required" data-vali="email"
                                                               name="email" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 control-label">Subject</label>
                                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 col-12">
                                                        <input type="text" class="form-control" data-vali="novalidation"
                                                               name="subject" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 control-label">Message</label>
                                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 col-12">
                                                        <textarea class="form-control comment" name="message"
                                                                  rows="4"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-md-8 col-md-offset-4 offset-md-4">
                                                        <input type="hidden" id="token" name="token" /><input type="submit"
                                                                                                              class="pull-left float-left btn btn-md btn-default"
                                                                                                              id="submitform" name="submit" value="Send Message" />
                                                    </div>
                                                </div>
                                                <div style="clear: both;"></div>
                                                <div class="success"></div>
                                                <div class="req_field"></div>
                                                <div style="clear: both;"></div>
                                            </form>
                                            <div style="clear: both;"></div>
                                        </div>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                                <div style="clear:both;width:0px;"></div>
                            </div>
                        </div>
                        <div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block"
                             style="clear: both;width:0px;"></div>
                    </div>
                    <div class="margin_collapsetop"></div>
                </div><!--content_margin-->
            </div><!--content-->
            <div style="clear:both">
            </div>
        </div><!--container-->
    </div><!--page-->

    @Html.Partial("~/Views/Shared/FrontComponent/_Footer.cshtml")
</body>

</html>