<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="~/Scripts/FrontEnd/jquery.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/jquery-ui.min.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/customjs.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/contactform.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        Tennis Club || About Us
    </title>

    <link rel="stylesheet" href="~/Content/FrontEnd/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/FrontEnd/style.css" type="text/css" media="screen" />

    <!--[if lte IE 8]>
    <link rel="stylesheet"  href="menuie.css" type="text/css" media="screen"/>
    <link rel="stylesheet"  href="vmenuie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script type="text/javascript" src="~/Scripts/FrontEnd/totop.js"></script>

    <script type="text/javascript" src="~/Scripts/FrontEnd/tt_animation.js"></script>
    <!--[if IE 7]>
    <style type="text/css" media="screen">
    #ttr_vmenu_items  li.ttr_vmenu_items_parent {margin-left:-16px;font-size:0px;}
    </style>
    <![endif]-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/Scripts/FrontEnd/html5shiv.js">
    </script>
    <script type="text/javascript" src="~/Scripts/FrontEnd/respond.min.js">
    </script>
    <![endif]-->
</head>


<body class="our-club">
    @Html.Partial("~/Views/Shared/FrontComponent/_Header.cshtml")

    <div class="container d-flex justify-content-center mt-4" style="height:511px;">
        <div class="card mt-4" style="width:350px; height:350px;">
            <div class="card-body text-center">
                <h5 class="card-title ">Login</h5>
                <form action="@Url.Action("LoginSubmit", "Auth")" method="post">
                    <div class="form-group text-start mt-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="Email" placeholder="Enter your email">
                    </div>
                    <div class="form-group text-start mt-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="Password" placeholder="Enter your password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-4">Login</button>
                </form>
                @if (!string.IsNullOrEmpty(TempData["msg"] as string))
                {
                    <div class="alert alert-success mt-4 text-center">
                        @TempData["msg"]
                    </div>
                }
            </div>
        </div>
    </div>


    @Html.Partial("~/Views/Shared/FrontComponent/_Footer.cshtml")
</body>

</html>
