
@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Default box -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-6">
            <div class="small-box card">
                <div class="inner">
                    <h3>150</h3>
                    <p>Total Players</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer text-dark">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-6">
            <div class="small-box card">
                <div class="inner">
                    <h3>50</h3>
                    <p>Total Coach</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer text-dark">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-6">
            <div class="small-box card">
                <div class="inner">
                    <h3>50</h3>
                    <p>Total Admin</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer text-dark">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-6">
            <div class="small-box card">
                <div class="inner">
                    <h3>50</h3>
                    <p>Total Match Held</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer text-dark">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-6">
            <div class="small-box card">
                <div class="inner">
                    <h3>50</h3>
                    <p>Upcoming Match</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer text-dark">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-lg-6">
            <div class="small-box card">
                @{
                    // Retrieve values from Session variables
                    var role = Session["Role"] as string;
                    var email = Session["Email"] as string;
                }

                @if (role != null && email != null)
                {
                    <p>Welcome, @role! Your email is: @email</p>
                }
                else
                {
                    <p>Session variables not set or expired.</p>
                }

            </div> 
        </div>

    </div>
</div>
<!-- /.card -->
